* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(images/bg.jpg);
    height: 100vh;
    background-size: cover;
}

/* -------- NavBar -------- */
#nav {
    justify-content: flex-end;
}

.navbar .navbar-toggler-icon,
.navbar button {
    background-color: white;
}

.navbar-brand img {
    width: 40px;
    height: 40px;
}

.navbar-brand span {
    margin: 8px;
    padding: 0 3px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    background-color: gray;
    letter-spacing: 2px;
}

#nav .nav-link {
    color: white;
    font-weight: 500;
}

#nav .nav-link.active,
#nav .nav-link:hover {
    background-color: white;
    border-radius: 5px;
    color: black;
}

/* -------- main -------- */
#main .jumbotron {
    background: none;
}

#main {
    margin-top: 8rem;
}

#main h1,
#main p {
    text-align: center;
}

#main h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 80px;
}

#main p {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 25px;
    line-height: 33px;
    font-weight: 100;
}

#main div.row {
    justify-content: center;
}

#main-div-btn {
    text-align: center;
    margin-top: 10px;
}

#main-btn {
    color: black;
    font-size: 30px;
    font-weight: 600;
    border-radius: 25px;
}

/* -------- allCategories -------- */
#category .card .card-title,
#category .card .card-text,
#category .card .card-text span {
    color: black;
}

#category .card .card-text span {
    font-weight: 600;
}

/* -------- Tables - allEntries/expenses/income -------- */
#income table,
#expenses table,
#allEntries table {
    background-color: white;
}

#income table tr th,
#income table tr td,
#expenses table tr th,
#expenses table tr td,
#allEntries table tr th,
#allEntries table tr td {
    color: black;
}

/* -------- expenses button -------- */
#income .table .btn,
#expenses .table .btn {
    margin: 0;
    border-radius: 10px;
    padding: 2px 10px;
    font-size: 15px;
}

/* -------- Form - login/register -------- */
#register .row,
#login .row {
    justify-content: center;
}

#form-register,
#form-login {
    background-color: white;
    border-radius: 20px;
    padding: 0 20px 22px 20px;
    margin-top: 10rem;
}

#form-register {
    margin-top: 6rem;
}

#form-register h1,
#form-register label,
#form-login h1,
#form-login label {
    color: black;
}

#form-register h1,
#form-login h1 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    letter-spacing: 2px;
}

#form-register label,
#form-login label {
    font-weight: 600;
}

/* -------- buttons -------- */
#income .btn,
#expenses .btn,
#categories .btnCategoryPage,
#allEntries .btn,
#form-register button,
#form-login button {
    border-radius: 15px;
    padding: 6px 30px;
    font-size: 20px;
    font-weight: 400;
}

#addIncome .btn,
#addExpense .btn,
#addCategories .btn {
    border-radius: 15px;
    padding: 6px 10px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 15px;
}

/* -------- margin buttons -------- */
#income .btn,
#expenses .btn,
#categories .btnCategoryPage {
    margin: 16px;
}

/* -------- h1 -------- */
#categories h1,
#income h1,
#expenses h1,
#allEntries h1 {
    /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 3px;
}

/* -------- h3 -------- */
#addIncome h3,
#addExpense h3,
#addCategories h3 {
    /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 3px;
}

/* -------- Form - addCategories/addIncome/addExpense -------- */
#addExpense option,
#addIncome option,
#addCategories option {
    color: black;
}

#addIncome .row,
#addExpense .row,
#addCategories .row {
    justify-content: center;
}

#formAddIncome,
#formAddExpense,
#formAddCategories {
    margin-top: 5rem;
}
